@media (max-width: 2000px){
    #bot {
        grid-gap: 90px;
    }
}

@media (max-width: 1870px){
    #concept{
        font-size: 4em;
    }
    #content{
        font-size: 1.5em;
    }
    #bot {
        grid-gap: 50px;
    }
}

@media (max-width: 1582px){
    #right-side{
        flex: 0 0 60%;
        padding: 5vh;
    }
    #bot{
        grid-gap: 30px;
    }
}

@media (max-width: 1490px){
    #top{
        height: 70vh;
    }
    #concept{
        font-size: 3.3em;
    }
    #content{
        font-size: 1.2em;
    }
    #bot {
        grid-template-columns: repeat(4, 250px);
        grid-gap: 30px;
    }
    #subheader{
        grid-column: span 4; 
    }
}

@media (max-width: 1200px){
    #right-side{
        flex: 0 0 55%;
        padding: 4vh;
    }
    #bot {
        grid-template-columns: repeat(3, 250px);
        grid-gap: 50px;
    }
    #subheader{
        grid-column: span 3; 
    }
    #biography{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #left-self{
        text-align: center;
    }
}

@media (max-width: 1060px){
    #top{
        flex-direction: column;
        height: 130vh;
        padding: 5vw;
    }
    #right-side{
        flex: 0 0 52%;
    }
}

@media (max-width: 955px){
    #top{
        height: 100vh;
    }
    #hamburger {
        display: flex;
    }
    #h-navlinks {
        display: none;
    }
    #concept{
        font-size: 3em;
    }
    #content{
        font-size: 1.05em;
    }
    #bot {
        grid-template-columns: repeat(2, 250px);
        grid-gap: 20px;
    }
    #subheader{
        grid-column: span 2; 
    }
}

@media (max-width: 620px){
    .Rbutton{
        display: none;
    }
    #right-side{
        padding: 2vh;
    }
    #concept{
        font-size: 2em;
    }
    #content{
        font-size: 0.93em;
    }
    #bot {
        padding: 2vh 2vw;
        grid-template-columns: repeat(1, 250px);
        grid-gap: 2vh;
    }
    #subheader{
        grid-column: span 1; 
        font-size: 50px;
    }
    .footer-right{
        display: none;
    }
}

@media (max-width: 410px){
    #top{
        height: 55vh;
    }
    
    #left-side{
        padding: 1.5vh;
    }

    #left-side img {
        width: 175px;
        height: 175px;
    }
    
    #right-side {
        padding: 0.9vh;
    }
    
    #concept{
        font-size: 1.4em;
        padding: 0.8vh;
    }
    
    #content {
        font-size: 0.70em;
        padding: 0.8vh;
    }
    
    #bot {
        padding: 2vh 2vw;
        grid-template-columns: repeat(2, 125px);
        grid-gap: 2vh;
    }
    
    #subheader{
        grid-column: span 2; 
        font-size: 25px;
    }
    
    .pokemon {
        width: 125px;
        height: 125px;
        padding: 10px;
    }
}

@media (max-width: 280px){
    #logo img {
        height: 4vh;
    }
    .footer-left h2 {
        font-size: smaller;
    }
    
    .footer-left p {
        font-size: 0.5em;
    }
}